{% extends "layout.html" %}
{% block content %}
<body>
    <form method="POST" action="">  
    <!--meta http-equiv="X-UA-Compatible" content="IE=edge"-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <meta charset="utf-8">
    
    <style type="text/css">
        .fixed-panel {
            min-height: 500px;
            max-height: 500px;
        }
        .media-list {
            overflow: auto;
        }
        div.msg_bbl {
        background-color: #ddd;
        padding: 5px 10px;
        border-radius: 10px;
        color: #555;
        margin-bottom: 5px;
      }
    </style>
  
        <div class="text-center well"><h1>Message in the box </h1></div>
        <div class="clearfix" style="margin-top: 25px;"></div>
        <div class="article-metadata"><b>Super Chat</b></div>
        <div class="clearfix" style="margin-top: 20px;"></div>

        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <strong><span class="glyphicon glyphicon-list"></span> Chat History</strong>
                </div>
                <div id="fixed-panel" class="panel-body fixed-panel" style="max-height: 10;overflow-y: scroll;" >
                    <ul class="media-list">
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <!--input type="text" class="form-control" placeholder="Enter Message" id="messageText" autofocus/-->
                        <input type="text" class="message form-control input-lg" placeholder="Message" id="messageText" autocomplete="off">
                        <span class="input-group-btn">     
                            <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-send"></span>Send</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>    
    <script type="text/javascript">
        
        var socket = io.connect('http://0.0.0.0:5000')
        // broadcast a message
        

        socket.on('connect', function() {

            socket.emit('sendMessage', {
            data: 'User is connected'
            });
            
            var form = $('form').on('submit', function(e){
                e.preventDefault()

                // document.getElementById("myModalLabel").innerHTML
                //let user_name = $('input.username').val()
                let user_name = "{{ user }}"
                //let user_input = $('input.message').val()
                var user_input = $("#messageText").val();
                //let user_name = document.getElementById("username").value
                    
                    socket.emit('sendMessage', {
                        user_name : user_name,
                        message : user_input
                    })
                    
                // empty the input field
                $( 'input.message' ).val( '' ).focus()
                
            })       
        })

        // capture message
        socket.on('response', function(msg) {
            console.log(msg)
            if( typeof msg.user_name !== 'undefined' ) {
                //$('h2').remove()
                //$('div.message_holder').append('<div class="msg_bbl"><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
                $('.media-list').append('<div class="msg_bbl"><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
                setTimeout(updateChat(), 1000);
                //$('.fixed-panel').stop().animate({ scrollTop: $('.fixed-panel')[0].scrollHeight}, 1000);
                }
        })

        function updateChat() {
            var height = document.getElementById('fixed-panel').scrollHeight; - $('#fixed-panel').height(); 
            $('#fixed-panel').scrollTop(height);}

    </script>
    </form>
</body>

{% endblock content %} 

